<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Disability</title>
</head>
<body>
    <div class="header">
        <a href="/" class="logo">Disability friendliness webpage</a>
        <div class="header-right">
          <a  href="/">Home</a>
          <a href="./contact">Contact us</a>
          <a href="./feedback">Feedback</a>
          <a href="./analytics">Analytics</a>
        </div>
      </div>
    </h1>
    <br>
    <div class="scores" >
    <h1 class="weburl" >URL: <%=url %> </h1>
    <br>
    <br>
    <br>
    <h1>Guide Lines Followed : <span style="color:red"><b><%= html_code_sniffer %> </b> </span> &emsp; Score: <b><span style="color:red"><%= html_code_sniffer_per %></span> </b> </h1>
    <h2 class="weburl" >Score By Html Code Sniffer</h2>
    <br>
    <br>
    <h1><%= Axel_code %></h1>
    <h2 class="weburl" >Score By Axel_code </h2>
    <br>
    <br>
    <h1><%= Score3 %></h1>
    <h2 class="weburl" >Score By Html score3</h2>
</div>
</body>
</html>